<app-header></app-header>
<div class="banner">
    <img src="https://demo.web3canvas.com/themeforest/tomato/img/header/1.jpg" alt="" class="card-img">
    <h1 class="contact text-center">contact</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <div class="address">
                <h2>address</h2>
                <ul>
                    <li><a href=""><i class="fa-solid fa-location-dot"></i><span>28 Seventh Avenue, Neew York,
                                10014</span></a></li>
                    <li><a href=""><i class="fa-solid fa-phone"></i><span>Phone: (415) 124-5678</span></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i><span>support@restaurant.com</span></a></li>
                </ul>
            </div>
            <div class="hour">
                <h2>working hours</h2>
                <div class="pl">
                    <p>10:00 am to 11:00 pm on Weekdays</p>
                    <p>11:00 am to 11:30 pm on Weekends</p>
                </div>
            </div>
            <div class="follow w-50">
                <h2>follow us</h2>
                <ul class="d-flex justify-content-between ">
                    <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="form">
                <form [formGroup]="formData">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Full name" formControlName="name">
                        <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
                            <span class="text-danger">Please enter your name</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email address"
                            formControlName="email">
                        <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
                            <span class="text-danger">Please enter your Email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Subject" formControlName="subject">
                        <div *ngIf="form.subject.invalid && (form.subject.dirty || form.subject.touched)">
                            <span class="text-danger">Please enter your id</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Message"
                            formControlName="message"></textarea>
                        <div *ngIf="form.message.invalid && (form.message.dirty || form.message.touched)">
                            <span class="text-danger">Please enter your id</span>
                        </div>
                    </div>
                    <button type="submit" class="btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d905.4599678874616!2d105.78301338397658!3d21.04633950687139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3b4220c2bd%3A0x1c9e359e2a4f618c!2sB%C3%A1ch%20Khoa%20Aptech!5e1!3m2!1svi!2s!4v1661330728002!5m2!1svi!2s" class="map" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<app-footer></app-footer>