<div>
    <div class="carousel">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://scontent.fhan14-1.fna.fbcdn.net/v/t1.15752-9/298982613_743546566877180_4955328122243473585_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=SPS56ZRveocAX9Ailwx&tn=RIY2mFLaWrjfYo15&_nc_ht=scontent.fhan14-1.fna&oh=03_AVK_lkEtWgJdk-LGoPfwhmUgdqW8hTaThDWlRVqfPIDNzw&oe=632196C6">
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img
                        src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/294550520_3051397055151616_9182942877669875049_n.png?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=spbR5vehExcAX_ygU6p&_nc_oc=AQnoQ8be1nlwLMg_iX3RHTEzzJ_JitvYM5XF0VWLNZEnrbMULlOiFv-z3YAcZ7rV02Y&_nc_ht=scontent.fhan3-2.fna&oh=03_AVLFrM8LHWQV3AOsZt3bDHJZn45iNAB6TPkTmCXjIZ_NcQ&oe=632012B1">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/296856293_1826575304357879_2038570239211252853_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=dAUu7fwiHrMAX9xm2Iz&_nc_ht=scontent.fhan3-3.fna&oh=03_AVK_09Y3pPGd9wg1mUPJx6E3mSoCib1-B1zKsddKEwlIUA&oe=6322AAA4">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>